<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC ".//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luminous.senior_community_server.mapper.UserMapper">


    <select id="selectAll" resultType="com.luminous.senior_community_server.bean.User">
        select * from user
    </select>

    <insert id="insert" parameterType="com.luminous.senior_community_server.bean.User">
        insert into `user` (name, sex, no, age, description, phone_number) values (#{name}, #{sex}, #{no}, #{age}, #{description}, #{phoneNumber})
    </insert>

    <update id="updateById" parameterType="com.luminous.senior_community_server.bean.User">
        update `user` set name = #{name}, sex = #{sex}, no = #{no}, age = #{age}, description = #{description}, phone_number = #{phoneNumber} where id = #{id}
    </update>
</mapper>